.page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; /* Высота экрана */
}

.quiz {
  position: absolute;
  width: 100%;
  height: 100vh; /* Высота экрана */
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $cardBackground;
    height: 100vh;
    padding: 0 20px;
  }

  &__question {
    height: 100vh;
    width: 50vw;
    background-color: $purpleBg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fontColorTitleWjite;
    font-size: clamp(24px, 4.5vw, 64px);

    @include media-breakpoint-down(md) {
      height: 40vh;
      width: 100vw;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      background-color: transparent;
      color: $fontColorTitleBlack;
    }
  }

  &__title {
    max-width: 496px;
    letter-spacing: 0.5px;
    line-height: 78px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      line-height: normal;
      text-align: center;
      padding: 0 20px;
    }
  }

  &__answer {
    height: 100vh;
    overflow: hidden;
    width: 50vw;
    background-color: $cardBackground;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    @include media-breakpoint-down(md) {
      height: 60vh;
      width: 100vw;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      background-color: transparent;
    }
  }

  &__form {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-family: OpenSans;

    &-label {
      font-size: 18px;
      font-weight: 400;
      opacity: 0.5;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .input {
      width: 496px;
      height: 105px;
      background-color: $background;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        max-height: 56px;
        width: 100%;
        height: 100%;
      }

      &__holder {
        width: 80%;
        font-size: 19px;
        margin-left: 22px;
      }

      &__next {
        background-color: transparent;
        width: 69px;
        height: 69px;
        transition:
          width 0.3s ease-in-out,
          height 0.3s ease-in-out;

        @include media-breakpoint-down(sm) {
          width: 32px;
          height: 32px;
        }

        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.adapt {
            display: none;

            @include media-breakpoint-down(sm) {
              display: block;
            }
          }

          &.desk {
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
        }

        &:hover {
          width: 79px;
          height: 79px;

          @include media-breakpoint-down(sm) {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    max-width: 496px;
    width: 100%;
    gap: 20px;
    position: relative;
    z-index: 3;
    max-height: calc(100vh - 120px);
    padding-bottom: 10px;
    overflow-y: auto;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px; /* Высота размытия */
      background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    @include media-breakpoint-down(md) {
      max-height: calc(60vh - 40px);
    }

    @include media-breakpoint-down(sm) {
      gap: 10px;
      max-height: calc(100vh - 226px);
    }

    &_line {
      @include media-breakpoint-down(sm) {
        flex-direction: row;
        gap: 20px;
      }
    }

    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 105px);
      max-width: 683px;
      gap: 20px;

      .quiz__btn {
        padding: 0 40px;

        @include media-breakpoint-down(sm) {
          padding: 0 8px;
        }
      }
    }
  }

  &__btn {
    padding: 40px;
    border-radius: 16px;
    text-align: left;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    background-color: $fontColorTitleWjite;
    width: 100%;
    color: $fontColorTitleBlack;

    &:hover {
      border: 1px solid $purpleBg;
    }

    &_in-down-line {
      @include media-breakpoint-down(sm) {
        padding: 19px 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__circle {
    position: absolute;
    width: 156px;
    height: 156px;
    top: 116px;
    left: 46px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_2 {
      width: 85px;
      height: 85px;
      bottom: 133px;
      top: auto;
      left: auto;
      right: 98px;
    }

    &_3 {
      top: 106px;
      left: auto;
      right: 135px;
    }

    &_4 {
      width: 178px;
      height: 178px;
      top: auto;
      bottom: 108px;
      left: 103px;
    }

    &_5 {
      width: 300px;
      height: 301px;
      right: -189px;
      left: auto;
      top: auto;
      bottom: 144px;
    }

    &_6 {
      left: auto;
      top: 161px;
      right: 114px;
      width: 155px;
      height: 155px;
    }

    &_7 {
      width: 114px;
      height: 114px;
      top: auto;
      bottom: 81px;
      left: 103px;
    }

    &_8 {
      top: auto;
      left: auto;
      right: 59px;
      bottom: 51px;
      width: 148px;
      height: 151px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__s-line {
    position: absolute;
    width: 407px;
    height: 308px;
    bottom: 0;
    right: 10px;

    svg {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &_2 {
      width: 161px;
      height: 162px;
      top: 108px;
      left: 71px;
    }

    &_3 {
      right: auto;
      left: 68px;
      width: 251px;
      height: 265px;
    }

    &_4 {
      width: 211px;
      height: 275px;
      top: 0;
      right: 116px;
    }

    &_5 {
      top: 128px;
      left: 74px;
      width: 201px;
      height: 202px;
    }

    &_6 {
      left: 50px;
      bottom: 64px;
      width: 161px;
      height: 161px;
    }

    &_7 {
      width: 289px;
      height: 272px;
      rotate: 90deg;
      transform: scaleY(-1);
      top: 71px;
      right: -66px;
    }

    &_8 {
      transform: scaleX(-1);
      top: 144px;
      left: 38px;
      width: 174px;
      height: 180px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
