.btn {
  border-radius: 100px;
  padding: 17px 29px;
  width: fit-content;
  font-family: Effra;
  font-weight: bold;
  transition: transform 0.3s;
  color: $fontColorTitleWjite;

  &_orange {
    background-color: $orangeMain;
  }

  &_purple {
    background-color: $btnBackground;
  }

  &_white {
    background-color: $fontColorTitleWjite;
    color: $fontColorTitleBlack;
  }

  &:hover {
    transform: scale(1.05);
  }

  &_small-button {
    border-radius: 200px;
    padding: 20px 61px 28px 65px;
    max-width: 260px;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    line-height: 1.63;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s;
    font-size: 20px;
    color: $fontColorTitleWjite;
    background: $btnBackground;

    &:hover {
      transform: scale(1.05);
    }

    @include media-breakpoint-down(sm) {
      padding: 15px 30px;
      font-size: 16px;
    }
  }
}
