.custom-loader {
  width: 200px;
  height: 200px;
  display: grid;
  animation: s4 8s infinite;

  &::before,
  &::after {
    content:"";
    grid-area: 1/1;
    border:32px solid;
    border-radius: 50%;
    border-color:#766DF4 #766DF4 #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 2s infinite linear;
  }
  &::after {
    border-color:#0000 #0000 #E4E4ED #E4E4ED;
    animation-direction: reverse;
  }
}


@keyframes s4{
  100%{transform: rotate(1turn)}
}