@import '/node_modules/swiper/swiper.scss';

.baner {
  max-width: 1396px;
  margin: 0 auto;
  position: relative;
  padding-top: 18px;

  &__info {
    width: 100%;
    border-radius: 24px;
    min-height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    &_first {
      background-color: $purpleBgBaner;
      background-image: url('/src/img/shop/baner-1-bg.png');

      .baner__img {
        aspect-ratio: 1 / 0.52;
      }
    }

    &_second,
    &_third {
      .baner {
        &__text {
          max-width: 465px;
        }

        &__img {
          aspect-ratio: 1 / 0.92;
        }
      }
    }

    &_second {
      background-color: $purpleBg;
      background-image: url('/src/img/shop/baner-2-bg.png');
    }

    &_third {
      background-color: $blueBgBaner;
      background-image: url('/src/img/shop/baner-3-bg.png');
    }
  }

  &__subtitle {
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 300;
    color: $fontColorTitleWjite;
    max-width: 580px;
    margin-bottom: 19px;
  }

  &__title {
    font-size: clamp(24px, 2.5vw, 50px);
    font-weight: 500;
    line-height: calc(10px + 1em);
    color: $fontColorTitleWjite;
    max-width: 580px;
    margin-bottom: 20px;
  }

  &__text {
    font-family: OpenSans;
    color: $fontColorTitleWjite;
    line-height: calc(8px + 1em);
    font-size: clamp(14px, 2.5vw, 18px);
    max-width: 420px;
    margin-bottom: 30px;
  }

  &__btn {
    max-width: 255px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;

    @include media-breakpoint-down(lg) {
      max-width: 500px;
      max-height: 400px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.shop-baners {
  .swiper {
    width: 100%;

    &-slide {
      max-width: 1396px;
      width: calc(100% - 184px);
    }

    &-pagination {
      --swiper-pagination-bullet-horizontal-gap: 12.5px;
      bottom: 48px !important;

      @include media-breakpoint-up(sm) {
        display: none;
      }

      &-bullet {
        background-color: #ffffff;
        opacity: 0.3;

        &-active {
          opacity: 1;
        }
      }
    }

    &-btns {
      position: absolute;
      z-index: 1;
      top: 223px;
      left: 50%;
      transform: translate(-50%);
      max-width: 1396px;
      width: calc(100% - 184px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 128px);
      }

      @include media-breakpoint-down(md) {
        width: calc(100% - 112px);
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-button-prev,
    &-button-next {
      width: 70px;
      height: 70px;
      background: $background;
      border-radius: 50%;
      padding: 28px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-button-prev {
      transform: translateX(-50%);
    }

    &-button-next {
      transform: translateX(50%) rotateY(180deg);
    }
  }
}
