.healthy-have {
  position: relative;
  padding-top: 217px;
  padding-bottom: 293px;

  @include media-breakpoint-down(md) {
    padding-top: 117px;
  }

  @include media-breakpoint-down(sm) {
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: -30px;
      right: 30px;
      z-index: 1;
      width: 60px;
      height: 60px;
      background: #ffca78;
      border-radius: 50%;
      animation: scale 10s linear infinite;
    }
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include media-breakpoint-up(xl) {
      left: 40%;
      transform: translateX(-60%);
    }


    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 65px;
      left: 165px;
      z-index: 1;
      width: 139px;
      height: 139px;
      background: #ffca78;
      border-radius: 50%;
      animation: scale 10s linear infinite;

      @include media-breakpoint-down(md) {
        width: 100px;
        height: 100px;
        top: -20px;
        left: auto;
        right: 60px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100vw;
      overflow-x: hidden;
      height: 370px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 40px;
      height: 270px;
    }

  }

  &__background {
    width: 100%;
    max-width: 50vw;
    @include media-breakpoint-down(sm) {
      max-width: 100%;

    }
  }

  &__container {
    max-width: $containerWidth;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__text-block {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      row-gap: 150px;
    }
  }

  &__title-wrapper {
    max-width: 563px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      text-align: center;

    }
  }

  &__title {
    padding-top: 139px;
    font-family: OpenSans, sans-serif;
    font-weight: 500;
    font-size: 56px;
    letter-spacing: -0.01em;
    word-spacing: -0.1em;
    line-height: 1.2;
    color: #fff;
    max-width: 563px;

    @include media-breakpoint-down(lg) {
      max-width: 450px;
      padding-top: 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 30px;
      max-width: 300px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      max-width: 400px;
      text-align: center;
      margin: 0 auto;
    }

    @include media-breakpoint-down(xs) {
      font-size: 24px;
    }

  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 103px;
    align-items: center;

    @include media-breakpoint-down(xxs) {
      row-gap: 47px;
    }

  }

  &__description-item {
    display: flex;
    align-items: center;
    column-gap: 90px;
    font-weight: 500;
    font-size: 30px;
    color: #000;
    max-width: 628px;

    @include media-breakpoint-down(lg) {
      column-gap: 20px;
      max-width: 480px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;

    }
  }

  &__item-text {
    max-width: 444px;
    line-height: 1.2;
  }

  &__img-block {
    display: flex;

    @include media-breakpoint-down(lg) {
      position: relative;
      top: -100px;
    }
    @include media-breakpoint-down(sm) {
      top: 0;
    }

    @include media-breakpoint-down(xs) {
      display: flex;
      justify-content: end;
    }

  }

  &__img-wrapper-packs {
    position: relative;
    top: -30px;
    z-index: 5;

    img {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      top: 0;
    }
    @include media-breakpoint-down(xxs) {
      width: 202px;
      position: absolute;
      left: 0;
      top: 39px;

    }

  }

  &__img-wrapper-pills {
    position: relative;
    left: -50px;
    top: 146px;

    img {
      width: 100%;
    }


    @include media-breakpoint-down(sm) {
      left: -20px;
    }

    @include media-breakpoint-down(sm) {
      top: 100px;
    }

    @include media-breakpoint-down(xxs) {
      left: 15px;
      width: 100%;
      max-width: 293px;
    }
  }

  &__drugs-purple{
    width: 103px;
    height: 84px;
  }

  &__heal-yellow{
    width: 88px;
    height: 97px;
  }

  &__shopping-orange{
    width: 85px;
    height: 107px;
  }

}

