$maxWidth: 1920px; // максимальная ширина страницы
$minWidth: 320px; // минимальная ширина телефона
$containerWidth: 1426px; // ширина контейнера из макета с падингами по 15
$headerContainerWidth: 1765px; // ширина контейнера хедера с падингами по 15

$md1: 1650;
$md2: 1420;
$md3: 1024;
$md4: 768;
$md5: 576;
$md6: 375;

$background: #ffffff;
$fontColorTitleBlack: #000000;
$fontColorTitleWjite: #ffffff;
$fontColorSpan: #ed815e;
$fontColorText: #808080;
$orangeMain: #ff7d4e;
$btnBackground: #6e5ddc;

$cardBackground: #faf8f6;

$purple: #9c91e0;
$greenMint: #94d6be;
$pink: #da91e0;
$blue: #91caf2;
$orange: #f2b385;
$darkBlue: #a5b3ff;
$red: #e8939d;
